
.text-decoration {
    color: #3F4A3C;
}

.files input {
    background-color: #eaf3df;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    background-color: #262525;
    outline: 2px dashed #f8f4e1;
    outline-offset: -10px;
    -webkit-transition: outline-offset .10s ease-in-out, background-color .10s linear;
    transition: outline-offset .10s ease-in-out, background-color .10s linear;
    border: 1px solid #f8f4e1;
}

.files input:hover {
    background-color: #535353;
    outline: 2px dashed #f8f4e1;
    outline-offset: -10px;
    -webkit-transition: outline-offset .4s ease-in-out, background-color .4s linear;
    transition: outline-offset .4s ease-in-out, background-color .4s linear;
    border: 1px solid #f8f4e1;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    /*background-image: url("/design/img/downloadBackground.png");*/
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #aea0a0;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    /*content: " Or Drug Here ";*/
    display: block;
    margin: 0 auto;
    background-color: #f8f4e1;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
